Repository honeycombio/honeycomb-opentelemetry-java, pull requests merged in 2023-06, with the labels that each got.

#427 rel: Prepeare v1.5.1 release
  CHANGELOG.md
  README.md
  build.gradle
  common/src/main/java/io/honeycomb/opentelemetry/DistroMetadata.java
Labels: version: no bump, no-changelog

#432 maint: update licenses for new otel-java versions
  licenses/licenses.md
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/byte-buddy-dep-1.14.5.jar/META-INF/LICENSE
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/byte-buddy-dep-1.14.5.jar/META-INF/NOTICE
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/jackson-core-2.15.2.jar/META-INF/LICENSE
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/jackson-core-2.15.2.jar/META-INF/NOTICE
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/jackson-jr-objects-2.15.2.jar/META-INF/LICENSE
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/jackson-jr-objects-2.15.2.jar/META-INF/NOTICE
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/okhttp-4.11.0.jar/okhttp3/internal/publicsuffix/NOTICE
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/slf4j-api-2.0.7.jar/META-INF/LICENSE.txt
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/slf4j-simple-2.0.7.jar/META-INF/LICENSE.txt
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/zipkin-2.23.2.jar/META-INF/LICENSE
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/zipkin-reporter-2.16.3.jar/META-INF/LICENSE
  licenses/opentelemetry-javaagent-1.27.0.jar/META-INF/licenses/zipkin-sender-okhttp3-2.16.3.jar/META-INF/LICENSE
  licenses/opentelemetry-javaagent-1.27.0.jar/inst/META-INF/LICENSE.renamed
  licenses/opentelemetry-javaagent-1.27.0.jar/inst/META-INF/LICENSE.txt
  licenses/opentelemetry-javaagent-1.27.0.jar/inst/META-INF/NOTICE
  licenses/opentelemetry-javaagent-1.27.0.jar/inst/okhttp3/internal/publicsuffix/NOTICE
Labels: type: maintenance, version: no bump, no-changelog

#433 rel: prep release v1.5.2
  CHANGELOG.md
  README.md
  RELEASING.md
  build.gradle
  common/src/main/java/io/honeycomb/opentelemetry/DistroMetadata.java
  common/src/test/java/io/honeycomb/opentelemetry/EnvironmentConfigurationTest.java
Labels: no-changelog
